.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
   }

   
#train-input:focus,
#destination-input:focus,
#first-train-input:focus,
#frequency-input:focus {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 blue;
};

/* label color */ /* label color */
+   .input-field label {
+     color: #000;
+   }
+   /* label focus color */
+   .input-field input[type=text]:focus + label {
+     color: #000;
+   }
.input-field label {
color: blue;
}

/* label focus color */
.input-field input[type=text]:focus + label {
color: blue;
}