#train-input:focus,
#destination-input:focus,
#first-train-input:focus,
#frequency-input:focus {
  border-bottom: 0.5px solid #1565c0;
  box-shadow: 0 1px 0 0 #1565c0;
};

/* label color */ /* label color */
+   .input-field label {
+     color: #1565c0;
+   }
+   /* label focus color */
+   .input-field input[type=text]:focus + label {
+     color: #1565c0;
+   }
.input-field label {
color: #1565c0;
}

/* label focus color */
.input-field input[type=text]:focus + label {
color: #1565c0;
}

#mins-away {
  color: #1565c0;
}